In [2]:
import pandas as pd
df=pd.read_csv('Application.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   SK_ID_CURR               307511 non-null  int64
 1   TARGET                   307511 non-null  int64
 2   AMT_INCOME_TOTAL         307511 non-null  float64
 3   AMT_CREDIT               307511 non-null  float64
 4   AMT_ANNUITY              307511 non-null  float64
 5   AMT_GOODS_PRICE          307511 non-null  float64
 6   NAME_INCOME_TYPE         307511 non-null  object
 7   HOUR_APPR_PROCESS_START  307511 non-null  int64
 8   ORGANIZATION_TYPE        307511 non-null  object
dtypes: float64(4), int64(3), object(2)
memory usage: 21.1+ MB

In [4]:
df.rename(columns={
    'SK_ID_CURR': 'Customer_ID',
    'TARGET': 'Default_Status',
    'AMT_INCOME_TOTAL': 'Total_Income_Amount',
    'AMT_CREDIT': 'Total_Credit_Amount',
    'AMT_ANNUITY': 'Annuity_Amount',
    'AMT_GOODS_PRICE': 'Goods_Price_Amount',
    'NAME_INCOME_TYPE': 'Income_Type',
    'HOUR_APPR_PROCESS_START': 'Application_Hour',
    'ORGANIZATION_TYPE': 'Organization_Type'
}, inplace=True)

In [6]:
df.to_csv('Application.csv', index=False)